@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


body {
  font-family: "Nunito", sans-serif;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

input {
  display: none;
}

.uploadFile {
  cursor: pointer;
  padding: 50px;
  border: 1px dashed black;
  border-radius: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#pic {
  width: 48px;
  height: 48px;
}

.uploadFile.has-file {
  border: 2px solid #669bbc;
}

form {
  margin: 50px 0;
}

button {
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #669bbc;
  color: white;
  font-weight: bold;
  width: 100%;
}

#downloadLink {
  text-decoration: none;
  color: white;
}

.result {
  border: 1px solid black;
  height: 600px;
  border-radius: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}